body{
    margin:5em;
    padding:0;
}
.scranton{
   border: 3px solid red; 
   
}
h1{
    border: 1px solid orange;
}
.employee{
    border:2px solid saddlebrown;
    padding: 0.5em;
    margin:1.5em;
    text-align:center;
    display:flex;
     
}

.permanent
{
    font-size: 100px;
    text-align:center;
    display:block;
    color:red;
    border:none;
}

.weasley{
    border: 3px solid orangered;
    
}

.dunder-mifflin{
 font-size: 36px;
 display:flex;
 /* flex-direction:column; */
 justify-content: space-between;
}
.para{
    font-size: 25px;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
    height: 300px;
    word-wrap: break-word;
}

.dunder-image{
    max-width: 100%;
    height: 600px;
}

.link{
    border : 2px solid coral;
    /* border-color: darkgray; */
    color:grey;
}
hr{
    color: white;
    border: 3px solid white;
}

a{
    text-decoration:none;
}
/* .trans{
    transition-delay: 1500ms;
} */

.founders{
    border: 1px solid coral;
    background-color: coral;
    padding: 3em;
    text-align:center;
    color:white;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.2em;
}

.ceos{
    border: 1px solid chocolate;
    background-color: chocolate;
    color: white;
    padding: 3em;
    text-align:center;
    font-size: 1.3rem;
    margin-bottom: 0.2em;
}
.vice-president{
    border: 1px solid darkblue;
    background-color: darkblue;
    color: white;
    padding: 3em;
    text-align:center;
    font-size: 1.2 rem;

}

.summary{
    text-justify:interword;
    width: 600px;
}

.former-managers{
    border:1px solid grey;
    text-align:center;
    color:white;
    background-color: grey;
    padding:3em;
    font-family: 'Source Sans Pro', sans-serif;

}

.managers{
    border:1px solid purple;
    text-align:center;
    color:white;
    background-color: purple;
    padding:3em;  
    font-family: 'Source Sans Pro', sans-serif;

}

.sales{
    border:1px solid goldenrod;
    text-align:center;
    color:white;
    background-color:goldenrod;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}
.reception{
    border:1px solid fuchsia;
    text-align:center;
    color:white;
    background-color:fuchsia;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}
.book-keeper{
    border: 1px solid seagreen;
    text-align:center;
    color:white;
    background-color: seagreen;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}

.hr{
    border: 1px solid indigo;
    text-align:center;
    color:white;
    background-color: indigo;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}

.call{
    border: 1px solid darkred;
    text-align:center;
    color:white;
    background-color: darkred;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}

.prod{
    border: 1px solid lawngreen;
    text-align:center;
    color:white;
    background-color: lawngreen;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}

.stat{
    border: 1px solid slateblue;
    text-align:center;
    color:white;
    background-color:slateblue;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}

.labourers{
    border: 1px solid darkolivegreen;
    text-align:center;
    color:white;
    background-color: darkolivegreen;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;

}
.fired{
    background-color:red;
    text-align:center;
    border: 3px thick red;
    color:white;
    padding: 2em;
    font-family: 'Source Sans Pro', sans-serif;

}
.pls{
font-size: 2em;
width:100%;

}

.utica{
    background-color: seashell;
    color: grey;
}